@model TicketingWebApp.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShowID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Row)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Row)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
